.top_page_image {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/ai_image_673482_22510142.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100vw;
  justify-content: space-around;
}

.top_page_image > h1 {
  background-color: #0092ca;
  color: #eeeeee;
  margin: 0 30%;
  border-radius: 5px;
}

.three_prod_container {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0;
}

.home_product_info {
  width: 33%;
  font-size: medium;
  align-items: center;
  margin: 2rem;
  border-radius: 5px;
  background-color: #393e46;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

.product-image-card {
  height: 300px;
  width: 50%;
}

.home_product_featured {
  background: #393e46;
  padding: 5rem;
}

.featured-image-card {
  cursor: pointer;
}

.shop_button {
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  margin-left: 15%;
  height: 60px;
  width: 120px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: x-large;
}
