.data-details-container {
  display: flex;
  background-color: #393e46;
  width: 100vw;
  justify-content: center;
}

.data-image {
  max-width: 600px;
  margin: 20px 0;
}

.data-details-details {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-family: trebuchet ms, sans-serif;
}
.data-details-details p {
  margin: 40px 40px 60px 40px;
}

.details-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width: 200px;
  align-self: center;
}

.details-button:after {
  content: "«";
  position: absolute;
  opacity: 0;
  top: 8px;
  left: -20px;
  transition: 0.5s;
}
.details-button:hover {
  padding-left: 24px;
  padding-right: 8px;
}
.details-button:hover:after {
  opacity: 1;
  left: 10px;
}

.details-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.details-header p {
  color: #0092ca;
  font-size: large;
  padding-top: 20px;
  margin-left: 20px;
}

.price_add_cart {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.price {
  font-weight: 700;
  font-size: x-large;
  color: #0092ca;
}

.data-details-details h2 {
  font-weight: 700;
}

.data-details-details p {
  max-width: 35vw;
}

.spacing {
  height: 61px;
}
